{% extends "base.html" %} {% block content %}
<div class="container" style='font-size: 1rem; max-width: 18rem;'>

  <div class='card'>

    <img class="card-img-top" style='height:10rem; width: 100%;' src="{{fields.image}}" alt="Card image cap">

    <div class="card-header">

      {{fields.name}}

      <div class='text-muted' style='font-size:0.6rem'>{{fields.description}}</div>

    </div>

    <div class="card-body" style='padding:0.75rem 0.75rem;'>

      <form id="user_inputs">

        {% for param in fields.params %}
          {% for key, value in param.items() %}

            {% if value.type == 'string' %}
            <div class="input-group mb-3">

              <div class="input-group-prepend">
                <span class="input-group-text" id='{{ key }}'>{{ value.name }}</span>
              </div>

              <input name='{{ key }}' type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                value='{{ value.default }}'>

            </div>
            {% endif %}

            {% if value.type == 'dropdown' %}
            <div class="input-group mb-3">

              <div class="input-group-prepend">
                <label class="input-group-text" for="{{ key }}">{{ value.name }}</label>
              </div>

              <select name='{{ key }}' class="custom-select" style="font-size:0.7rem;" id="{{ key }}">
                {% for option in value.options %}
                <option value='{{ option }}'>{{ option }}</option>
                {% endfor %}
              </select>

            </div>
            {% endif %}
            
          {% endfor %}
        {% endfor %}

      </form>

      <button type='button' class='btn btn-primary btn-lg btn-block' style='padding:0; font-size:1rem;' onclick='sendInfoToFusion("user_input", collectFormAsDict())'>Collect</button>

    </div>

  </div>

  <style>
    .input-group-text,
    .form-control {
      font-size: 0.7rem;
    }
  </style>

</div>
{% endblock %}